<!DOCTYPE html>
html(lang="en") 
//- usun w index.html zamykanie html!!!!!
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Graxpo
  link(rel="stylesheet" href="css/fontello.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One|Roboto+Condensed:400,700,300|Open+Sans:400,700")
  link(rel="stylesheet" href="css/unslider.css")
  link(rel="stylesheet" href="css/style.css")
body
  header.page-header
      .navbar
        .container.clearfix
          .logo
            a(href="index.html")
              h1 Graxpo
          nav.page-nav
            ul
                li: a(href="index.html") Home
                li: a(href="#about") About
                li: a(href="#services") Services
                li: a(href="#team") Team         
                li: a(href="#contact") Contact
          .burger
            span
            span
            span  

      .header-caption
        h2 Hello, We're Prothermers
        p.subtitle Fresh premium quality PSD template

      img(src="img/headphones.png" class="image1" alt="black headphones")
      img(src="img/juice.png" class="image2" alt="orange juice in a glass")
      img(src="img/mouse.png" class="image3" alt="white computer mouse")
      img(src="img/eyeglasses.png" class="image4" alt="black eyeglasses")
      img(src="img/pencil1.png" class="image5" alt="yellow pencil")
      img(src="img/pencil2.png" class="image6" alt="black pencil")
      img(src="img/pencil-cup.png" class="image7" alt="cup for pencils")
      
      a.scroll-pic.floating(href="#about")
        image(src="img/scroll_03.png")
        p Scroll Down
    main
      section#about
        article
          .container
            header.half-article
              h3 About Graxpo
              p.about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue. Vivamus sodales sed augue ut ornare. Nullam eu magna suscipit, maximus felis vel.
              a.button(href="#") Learn More!
            figure
              image(src="img/screen.jpg")
        article
          .container
            header
              h3 What we do
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue.
            ul.about-list
              li.about-item
                i.icon-desktop
                h4 UI/UX Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue. Vivamus sodales sed augue ut ornare.
              li.about-item
                i.icon-star-empty
                h4 UI/UX Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue. Vivamus sodales sed augue ut ornare.
              li.about-item
                i.icon-phone
                h4 UI/UX Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue. Vivamus sodales sed augue ut ornare.
              li.about-item
                i.icon-edit
                h4 UI/UX Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue. Vivamus sodales sed augue ut ornare.  
        article.banner
          .exploring
            p.title Get your own business with our ideas!
            p.banner-subtitle Get ready to stand out
            a.button(href="#") Keep exploring

      section#services
        .container
          header 
            h3 OUR BEST SERVICE
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue.
        .services-content
          ul.services-list.container
            li.clearfix
              .services-photo
                image(src="img/team1.jpg")
              .services-text
                h4 Awesome title here
                p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            li.clearfix
              .services-photo
                image(src="img/team2.jpg")
              .services-text
                h4 Awesome title here
                p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            li.clearfix
              .services-photo
                image(src="img/team3.jpg")
              .services-text
                h4 Awesome title here
                p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.

      section#team
        .container
          header
            h3 Meet our crew
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue.

        ul.team-list
          li
            figure
              image(src="img/pic1.jpg")
              figcaption
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a(href="#")
                  i.icon-facebook
                a(href="#")
                  i.icon-linkedin
              p.team-name Ien Hasan
              p.team-role CEO
          li
            figure
              image(src="img/pic2.jpg")
              figcaption
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a(href="#")
                  i.icon-facebook
                a(href="#")
                  i.icon-linkedin
              p.team-name Raf Redwan
              p.team-role Lead of design
          li
            figure
              image(src="img/pic3.jpg")
              figcaption
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a(href="#")
                  i.icon-facebook
                a(href="#")
                  i.icon-linkedin
              p.team-name Bari Meye
              p.team-role Dev
          li
            figure
              image(src="img/pic4.jpg")
              figcaption
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a(href="#")
                  i.icon-facebook
                a(href="#")
                  i.icon-linkedin
              p.team-name Mati Hanuka
              p.team-role Akmla

      section#testimonials
        .container
          header
            h3 Testimonials
            p What our clients say
            #carousel
          .my-slider
            ul
              li 
                img(src="img/user1.png")
                p.testimonial Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                p.client Matt Hamino
              li 
                img(src="img/user1.png")
                p.testimonial Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                p.client Matt Hamino
              li 
                img(src="img/user1.png")
                p.testimonial Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                p.client Matt Hamino        

      section#contact
        .container
            header
              h3 Get in touch with us
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, hendrerit ac risus ut, pharetra molestie augue.
            ul.contact-list
              li
                form.contact-form
                  input(type="text" placeholder="Name*" required)
                  input(type="email" placeholder="Email*" required)
                  textarea(type="text" placeholder="Message*" required)
                  input.button(type="submit")
              li
                .contact-method
                  i.icon-location
                  address 55 Lorem Prothemers Tower<br> -1200 D Block Cmilla, Bangladesh

                .contact-method
                  i.icon-phone
                  address
                    a(href="tel:+8805-5823-124") +8805-5823-124

                .contact-method
                  i.icon-mail
                  address 
                    a(href="mailto:info@adddaxx.com") info@adddaxx.com

    footer.page-footer
      .container
        p 2016 &copy; Copryright Redwan.<br> All Rights Reserved.

  script(src="js/jquery-3.1.0.min.js")
  script(src="js/unslider-min.js")
  script(src="js/classie.js")
  script(src="js/jquery.waypoints.min.js")
  script(src="js/main.js")
